#my.cnf increase the values if you get a timeout error
[mysqld]
max_allowed_packet      = 1300M
net_read_timeout        = 7200
net_write_timeout       = 7200
[mysqldump]
max_allowed_packet      = 1300M
